@define-color selected-text #879ecf;
@define-color text #ffffff;
@define-color base #121212;
@define-color border #9e9e9e;
@define-color foreground #ffffff;
@define-color background #121212;

window.window {
  background-color: #000000;
}

* { outline: 2px solid red; }

