* {
  color: @foreground;
}

box.modules-center {
  padding-top: 8px;
}

box.modules-left {
  margin-left: 8px;
}

box.modules-right {
  margin-right: 8px;
}

#waybar {
  background-color: rgba(0,0,0,0);
}

#workspaces button.empty {
  opacity: 0.5;
}
